@media(max-width: 1024px){
    *{
        font-size: 95%;
    }

    .banner-text{
        width: 35%;
    }

    .banner-text h1{
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .banner-text p{
        margin: 2rem 0;
        font-size: 1rem;
    }

    .sign-up > h1{
        padding: 0.7rem 0rem;
        margin-bottom: 1.3rem;
        font-size: 0.9rem;
    }

    form{
        padding: 1rem 2rem;
        width: 450px;
    }

    form h1{
        font-size: 2rem;
    }
}

@media(max-width: 940px){
    .banner-text{
        width: 50%;
        text-align: center;
    }
}

@media(max-width: 699px){
    .banner-text{
        width: 75%;
    }
}

/* MOBILE */

@media(max-width: 425px){
    .banner-text{
        margin: 0;
        width: 100%;
    }

    .banner-text h1{
        font-size: 2rem;
        line-height: 2.2rem;
        margin-bottom: 0.5rem;
    }

    .banner-text p{
        font-size: 0.8rem;
    }

    .sign-up > h1{
        padding: 0.5rem 0rem;
        margin-bottom: 1.3rem;
        font-size: 19px;
    }

    form{
        padding: 1rem 2rem;
        width: 370px;
    }

    form input{
        width: 20rem;
    }
    
    form button{
        width: 20rem;
    }

    form h1{
        font-size: 2rem;
    }
}

@media (max-width: 375px){
    .banner-text{
        width: 100%;
    }

    .banner-text h1{
        font-size: 2rem;
        line-height: 2.2rem;
        margin-bottom: 0.5rem;
    }

    .banner-text p{
        font-size: 0.7rem;
    }

    .sign-up > h1{
        padding: 0.5rem 0rem;
        margin-bottom: 1.3rem;
        font-size: 19px;
    }

    form{
        padding: 1rem 2rem;
        width: 350px;
    }

    form input{
        width: 19rem;
    }
    
    form button{
        width: 19rem;
    }

    form h1{
        font-size: 2rem;
    }
}

@media (max-width: 320px){
    .banner-text h1{
        font-size: 1.5rem;
        line-height: 1.8rem;
        margin-bottom: 0.5rem;
    }

    .banner-text p{
        font-size: 0.7rem;
    }

    .sign-up > h1{
        padding: 0.3rem 4rem;
        margin-bottom: 1.3rem;
        font-size: 14px;
    }

    form{
        padding: 1rem 2rem;
        width: 300px;
    }

    form input{
        width: 16rem;
    }
    
    form button{
        width: 16rem;
    }

    form h1{
        font-size: 2rem;
    }

}

